label {
  display: block;
}

.ui-fluid {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }
}

.return-search {
  margin-left: 20px;
  position: relative;
  top: -12px;
}
